<table class="table">
	<thead>
		<tr>
			<td class="titleTable">Watchlist Series</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="serie in userLoggedIn.seriesWacthList">
			<td><img ng-src="{{serie.image}}" class="img-thumbnail"
				width="304" height="236"></td>
			<td class="textTable">{{serie.name}}</td>
			<td><button
					ng-click="addSerieToProfile(serie.name, serie.year, serie.image)"
					class="btn btn-primary btn-lg">Add serie to profile</button></td>
		</tr>
	</tbody>
</table>
<div>
	<button ng-click="backToHomePage()" class="btn btn-primary btn-lg">Back</button>
</div>